<!DOCTYPE html>

<html lang="en" ng-app="TA">
<head>
<meta charset="UTF-8">
<title>My Stocks</title>
<script src="/vendors/angular.min.js"></script>
<script src="/vendors/angular-route.min.js"></script>
<script src="/vendors/angular-resource.min.js"></script>
<script src="/app.js"></script>
</head>
<body>
  <pt-stock></pt-stock>
</body>
</html>
